.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup {
    color: var(--secundary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.popup button {
    padding: 12px 24px;
    cursor: pointer;
    background-color: var(--prymary-color);
    color: var(--secundary-color);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    transition: background-color 0.3s;
}