
:root {
  --primary-color: #3f61db;
  --primary-color-darker: #304db6;
  --secundary-color: #d9ee5f;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  display: flex;
}

.container {
  max-width: 640px;
  margin: 80px auto;
  background: var(--primary-color-darker);
  padding: 20px;
  border-radius: 10px;
}

.display {
  font-size: 3em;
  width: 100%;
  text-align: right;
  border-radius: 10px;
}
.calculadora{
  padding: 20px;
}

.btn {
  width: 100%;
  height: 50px;
  font-size: 1em;
  border: none;
  background: var(--primary-color);
  cursor: pointer;
  color: white;
  border-radius: 10px;
}

.btn:hover {
  background: var(--secundary-color);
  color:black;
}

.center{
  display: flex;
  align-content: center;
  justify-content: center;
}

h1{
color: #fff;
}